*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
/* Table of Content 
    1) Narvbar Comp
    2) Sidebar Comp
*/
:root {
  --themePrimary: rgba(119, 96, 143, 0.9);
  --themeSecondary: rgb(255, 201, 232);
  --lightPurple: #c8c4ff;
}
a {
  text-decoration: none;
}
/* Narvbar Comp */
#navbar {
  background-color: #251e26;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: "Indie Flower", cursive;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}
.menu:hover {
  background-color: var(--lightPurple);
  cursor: pointer;
  border-radius: 50%;
}
#logo {
  color: var(--themeSecondary);
  font-size: 2rem;
  margin-left: 55px;
}

.search_container {
  position: absolute;
  width: 150px;
  height: 30px;
  right: 25%;
  transition: all 0.5s ease-in;
}
.searchbar {
  position: absolute;
  background-color: transparent;
  border: white;
  color: white;
  outline: 0;
  width: 80%;
  left: 30px;
  height: 100%;
  padding: 5px;
  font-size: 15px;
}
.search_container::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f002";
  font-size: 25px;
  background: -webkit-linear-gradient(#faebd7, #f7baed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in-out;
  left: 0;
  z-index: 50;
}

.search_container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--themeSecondary);
  left: 30px;
  bottom: -2px;
  transform: scaleX(0);
  transition: 1s ease-in-out;
  transform-origin: left;
}
.search_container:focus-within::after {
  transform: scaleX(0.95);
}
.search_container:focus-within::before {
  transform: translateX(150px);
}

.nav_items {
  position: absolute;
  right: 2%;
  transition: all 0.3s ease-in-out;
}

.nav_item {
  padding: 20px;
  font-size: 23px;
  color: antiquewhite;
}
.nav_item.active {
  border-bottom: 2px solid antiquewhite;
  color: var(--lightPurple);
}
.nav_item:hover {
  filter: brightness(200%);
}

@media screen and (max-width: 1080px) {
  .search_container {
    right: 320px;
  }
}
@media screen and (max-width: 750px) {
  .nav_items {
    transform: translateX(-30px);
    opacity: 0;
    transform: scaleY(0);
  }
  .search_container {
    transform: translateX(280px);
  }
  .search_container::before {
    transform: translateX(150px);
  }
}
@media screen and (max-width: 420px) {
  #logo {
    margin-left: 0px;
  }
  .search_container {
    right: 10%;
    transform: unset;
  }
}

/* Sidevbar Comp */
.sidebar {
  font-family: "Indie Flower", cursive;
  background: #555056;
  background: -webkit-linear-gradient(top left, #555056, #130813);
  background: -moz-linear-gradient(top left, #555056, #130813);
  background: linear-gradient(to bottom right, #555056, #130813);
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 50;
  padding-top: 70px;
  height: 100%;
  box-shadow: 4px 1px 21px 3px rgba(119, 96, 143, 0.75);
  -webkit-box-shadow: 4px 1px 21px 3px rgba(119, 96, 143, 0.75);
  -moz-box-shadow: 4px 1px 21px 3px rgba(119, 96, 143, 0.75);
}

.side_items {
  display: block;
  height: 70px;
  text-align: left;
  font-size: 23px;
  color: var(--themePrimary);
  padding: 15px 20px;
  white-space: nowrap;
  z-index: 10;
  position: relative;
  cursor: pointer;
}
.cate_sort {
  padding-left: 10px;
  font-size: 30px;
  transform: rotateX(-180deg);
  transition: all 0.5s ease;
}

.cate_container {
  position: absolute;
  right: -80%;
  top: 0;
}
.cate_items {
  color: #efdaf2;
  display: inline-block;
  margin-bottom: 12px;
  background-color: rgba(255, 201, 232, 0.3);
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 60;
}
.active {
  color: var(--lightPurple);
}
.side_items.active {
  border-right: 5px solid var(--lightPurple);
}
.side_items.items:hover {
  filter: brightness(200%);
}

.cate_items:hover {
  color: var(--lightPurple);
}
@media screen and (max-width: 420px) {
  .side_items {
    height: 55px;
  }
  .sidebar {
    width: 170px;
  }
  .cate_container {
    right: -150px;
  }
}
