*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
/* Table of Content 
    1) Narvbar Comp
    2) Sidebar Comp
    3) Pornlo  Comp
    4) Login   Comp
*/
:root {
  --themePrimary: rgba(119, 96, 143, 0.9);
  --themeSecondary: rgb(255, 201, 232);
  --lightPurple: #c8c4ff;
}
a {
  text-decoration: none;
}

.comp {
  padding-top: 70px;
  width: 100%;
  height: 100vh;
}

/* Narvbar Comp */
#navbar {
  background-color: #251e26;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: "Indie Flower", cursive;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}
.menu:hover {
  background-color: var(--lightPurple);
  cursor: pointer;
  border-radius: 50%;
}
#logo {
  color: var(--themeSecondary);
  font-size: 2rem;
  margin-left: 55px;
}

.search_container {
  position: absolute;
  width: 150px;
  height: 30px;
  right: 25%;
  transition: all 0.5s ease-in;
}
.searchbar {
  position: absolute;
  background-color: transparent;
  border: white;
  color: white;
  outline: 0;
  width: 80%;
  left: 30px;
  height: 100%;
  padding: 5px;
  font-size: 15px;
}
.search_container::before {
  font-family: "fontawesome";
  position: absolute;
  content: "\f002";
  font-size: 25px;
  background: -webkit-linear-gradient(#faebd7, #f7baed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in-out;
  left: 0;
  z-index: 50;
}

.search_container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--themeSecondary);
  left: 30px;
  bottom: -2px;
  transform: scaleX(0);
  transition: 1s ease-in-out;
  transform-origin: left;
}
.search_container:focus-within::after {
  transform: scaleX(0.95);
}
.search_container:focus-within::before {
  transform: translateX(150px);
}

.nav_items {
  position: absolute;
  right: 2%;
  transition: all 0.3s ease-in-out;
}

.nav_item {
  padding: 16px;
  font-size: 23px;
  color: antiquewhite;
}
.nav_item.active {
  border-bottom: 2px solid antiquewhite;
  color: var(--lightPurple);
}
.nav_item:hover {
  filter: brightness(200%);
}

@media screen and (max-width: 1080px) {
  .search_container {
    right: 320px;
  }
}
@media screen and (max-width: 750px) {
  .nav_items {
    transform: translateX(-30px);
    opacity: 0;
    transform: scaleY(0);
  }
  .search_container {
    transform: translateX(280px);
  }
  .search_container::before {
    transform: translateX(150px);
  }
}
@media screen and (max-width: 420px) {
  #logo {
    margin-left: 0px;
  }
  .search_container {
    right: 10%;
    transform: unset;
  }
}

/* Sidebar Comp */
.sidebar {
  font-family: "Indie Flower", cursive;
  background: #555056;
  background: -webkit-linear-gradient(top left, #555056, #130813);
  background: -moz-linear-gradient(top left, #555056, #130813);
  background: linear-gradient(to bottom right, #555056, #130813);
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 50;
  padding-top: 70px;
  height: 100%;
  box-shadow: 4px 1px 21px 3px rgba(119, 96, 143, 0.75);
  -webkit-box-shadow: 4px 1px 21px 3px rgba(119, 96, 143, 0.75);
  -moz-box-shadow: 4px 1px 21px 3px rgba(119, 96, 143, 0.75);
}

.side_items {
  display: block;
  height: 70px;
  text-align: left;
  font-size: 23px;
  color: var(--themePrimary);
  padding: 15px 20px;
  white-space: nowrap;
  z-index: 10;
  position: relative;
  cursor: pointer;
}
.cate_sort {
  padding-left: 10px;
  font-size: 30px;
  transform: rotateX(-180deg);
  transition: all 0.5s ease;
}

.cate_container {
  position: absolute;
  transform: translateX(102%);
  right: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
}
.cate_items {
  color: #382a27;
  display: inline-block;
  background-color: #ffc7ba;
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 60;
  margin-bottom: 15px;
}
.active {
  color: var(--lightPurple);
}
.side_items.active {
  border-right: 5px solid var(--lightPurple);
}
.side_items.items:hover {
  filter: brightness(200%);
}

.cate_items:hover {
  color: var(--lightPurple);
}
@media screen and (max-width: 420px) {
  .side_items {
    height: 55px;
  }
  .sidebar {
    width: 170px;
  }

  .cate_items {
    font-size: 25px;
  }
}

/* Pornlo Comp */
.pornlo {
  background: #352d30;
  background: -webkit-linear-gradient(bottom right, #352d30, #000000);
  background: -moz-linear-gradient(bottom right, #352d30, #000000);
  background: linear-gradient(to top left, #352d30, #000000);
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 820px;
  max-height: 100vh;
}
.pornlo_grid {
  margin-top: 50px;
  width: calc(900px + 30%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 280px);
  grid-gap: 20px;
  position: relative;
  padding: 20px;
}
.clip-container {
  overflow: hidden;
  height: 280px;
  position: relative;
  cursor: grab;
}
.clip {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clip::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.2;
}

.clip:hover::after {
  opacity: 0;
}

.cocktail {
  position: absolute;
  right: 20px;
  bottom: 50%;
  font-size: 30px;
  cursor: grab;
  z-index: 50;
}

.clip_info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(42, 30, 44, 0.7);
  cursor: default;
  text-align: left;
}
.clip_info_bottom {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 220px;
}
.clip_info_bottom span {
  color: #a88de0;
}

.clip_attr {
  border: 2px solid pink;
  border-radius: 30px;
  padding: 7px;
  margin-left: 10px;
  margin-bottom: 7px;
  display: inline-block;
  width: fit-content;
}
.clip_link {
  padding: 5px;
  position: absolute;
  right: 2%;
  bottom: 4%;
  color: pink;
  border: 2px solid antiquewhite;
  border-radius: 30px;
  font-size: 20px;
}
.clip_link:hover {
  text-decoration: none;
  color: white;
}
.clip_heart {
  padding: 5px;
  position: absolute;
  left: 2%;
  bottom: 4%;
  cursor: pointer;
  font-size: 30px;
}
.pagination {
  display: flex;
  position: absolute;
  bottom: 20px;
  padding: 0;
}

.pagBtn {
  margin: 3px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(119, 96, 143, 0.2);
  border-radius: 50%;
  color: var(--lightPurple);
  cursor: pointer;
  position: relative;
  display: flex;
}
.pagBtn.active {
  background-color: var(--themePrimary);
}

@media screen and (max-width: 1255px) {
  .pornlo {
    max-height: unset;
    min-height: unset;
    height: 1150px;
  }
  .pornlo_grid {
    width: calc(700px + 30%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
}
@media screen and (max-width: 850px) {
  .pornlo {
    height: 2130px;
  }
  .pornlo_grid {
    width: 550px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }
}
/* Login Comp */
.login {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1ffed;
}
.login_container {
  width: calc(10vw + 400px);
  height: calc(5vh + 350px);
  border: 2px solid #282c34;
  box-shadow: 1rem 1rem 1rem black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(119, 96, 143, 0.2);
}
.login_innerContain {
  position: absolute;
  width: 80%;
  text-align: left;
}
.login_innerContain span {
  font-size: calc(1vw + 30px);
  display: block;
  margin-bottom: 10px;
}
.login_innerContain button {
  border-radius: 10px;
  background-color: var(--themeSecondary);
  padding: 5px 8px;
  font-size: 20px;
  border: 2px solid;
  margin: 10px;
  color: #fff;
  border: 1px solid #fff;
  opacity: 0.5;
}
button:not(:disabled):not(.disabled) {
  cursor: pointer;
  opacity: 1;
}
button:focus,
button.focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--lightPurple);
}
.login_innerContain p {
  display: inline-block;
}
.input_control {
  margin: 10px;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}

.input_control:focus-within,
.input_control:hover {
  border: 3px solid var(--lightPurple);
  outline: 0;
}

.regi_link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 420px) {
  .login_container {
    width: 95%;
  }
}
